<mat-toolbar color = "primary">
  <div class = "head-first"> <mat-icon mat-raised-button (click)="drawer.toggle()" >menu</mat-icon>
  </div>
  <div class = "head-second">
    Jira Tool
  </div>
  <div class = "head-third">
    <button mat-raised-button (click) = "createTask()">Create</button>
  </div>

</mat-toolbar>
<mat-drawer-container class="example-container"  >
  <mat-drawer #drawer mode="side" >
    <app-drawercontent></app-drawercontent>
  </mat-drawer>
  <mat-drawer-content>
    <app-mainboard ></app-mainboard>
  </mat-drawer-content>
</mat-drawer-container>


